@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.about-page {
    display: grid;
    grid-row-gap: 25px;
    justify-items: center;
    .profile-img {
        $size: 150px;
        border-radius: 50%;
        height: $size;
        width: $size;
    }
    .infos-section {
        display: grid;
        grid-row-gap: $link-padding + 5px;
        margin: -$link-padding 0;
        .link-container {
            display: grid;
            grid-template-columns: auto 1fr;
        }
    }
    .info-text {
        @include text;
        width: 90%;
        max-width: 500px;
    }
}
