@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.project {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  width: 100%;
  max-width: 700px;
  .name {
    font-weight: bold;
    text-align: center;
  }
  .image {
    @include darkMode {
      border: 1px solid $dark-scheme-color;
    }
    border: 1px solid $color-black;
    object-fit: contain;
    max-height: 400px;
    width: 100%;
    &.error {
      color: $color-black;
      @include darkMode {
        color: $dark-scheme-color;
      }
    }
  }
  .info {
    @include text;
  }
  .link {
    @include darkMode {
      color: $dark-scheme-color;
    }
    @include unLink;
    cursor: pointer;
    display: unset;
    padding: 0;
    text-decoration: underline;
  }
}
