.Technology {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;

  .Technology__icon {
    font-size: @fontTitle;
  }

  .Technology__text {
    align-self: start;
    font-size: @fontSm;
    padding: 4px 0 0 0;
  }
}
