.Landing {
  .TechnologyBar__c {
    color: 'black';
    align-items: center;
    display: grid;
    font-size: @fontXsm;
    grid-template-columns: repeat(4, auto);
    // grid-column-gap: 4px;
    // padding: 4px;
    justify-content: center;
    // opacity: 0.5;
    margin: 0 0 10px 0;

    // .TechnologyBar__p {
    //   padding: 4px;
    // }

    .TechnologyBar__link {
      .link();

      margin: 0 1px;
      // padding: 0;
    }
  }
}
