.Projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  // display: grid;
  // grid-row-gap: 50px;
  // grid-template-columns: 75%;
  // grid-template-rows: repeat(3, 500px);
  // justify-content: center;
  margin: 25px auto 0 auto;
  text-align: center;
  width: 95%;

  // @media @phone {
  //   grid-template-rows: 500px 550px 500px;
  // }

  // @media @minimum {
  //   grid-template-rows: 500px 850px 500px;
  // }
}
