@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.four04 {
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
        font-size: $font-4x;
    }
    .description {
        margin: 0 0 10px 0;
        padding: 4px;
    }
    .link {
        margin: 10px 0;
    }
}
