@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.header {
  // @include link;

  // margin: 0;
  // text-align: center;

  // &.no-link {
  //   @include unLink;
  // }

  .header-container {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    .header__item {
      $height: 75px;
      $width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: $height;
      width: $width;
      // max-width: 180px;
      img {
        $factor: 0.7;
        object-fit: contain;
        max-height: $height * $factor;
        max-width: $width * $factor;
      }
    }
  }

  // .header__title {
  //   font-size: $font-3x;
  //   margin: 15px 0;
  // }

  // .header__subtitle {
  //   margin: 15px 0;
  // }
}
