@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.footer {
    @include baseGradient();
    @include darkMode {
        @include baseGradient(darken($color-primary, $dark-scheme-darken));
    }
    .footer-links {
        display: grid;
        grid-template-columns: 1fr repeat(3, 100px) 1fr;
        justify-items: center;
        padding: 35px 0;
        .footer-links__link {
            @include linkInv(
                $dark-scheme-color,
                darken($color-primary, $dark-scheme-darken)
            );
            align-self: end;
            margin-left: 20px;
            margin-right: 20px;
            text-align: center;
        }
    }
}
