@import '../../scss/variables.scss';

.layout-page {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-row-gap: 10px;
    height: 100%;
    width: 100%;
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .sticky + .header {
        padding-top: 10px;
    }
    .main-content {
        justify-self: center;
        width: 100%;
        max-width: $layout-max-width;
    }
}
