:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.h1 {
  font-size: 2.5em;
  line-height: 1em;
}
.h2 {
  font-size: 1.5em;
}

.bold {
  font-weight: 700;
}
.underline {
  text-decoration-line: underline;
  text-underline-offset: 0.25em;
}
.italic {
  font-style: italic;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 1.1em;
}

.desktop-only {
  display: none;
}
@media only screen and (min-width: 750px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: initial;
  }
}
