@import './mixins.scss';
@import './variables.scss';

body {
    background-color: $color-white;
    color: $color-primary;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: $font-1x;
    min-width: $layout-min-width;
    @include darkMode {
        background-color: $color-black;
        color: $dark-scheme-color;
    }
}
