@import './variables.scss';

@mixin link($color: $color-primary, $bkgColor: $color-white) {
  color: $color;
  cursor: pointer;
  padding: $link-padding;
  text-decoration: none;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @include baseGradient($color);
      color: $bkgColor;
    }

    &:active {
      opacity: 0.9;
    }
  }
}

@mixin linkInv {
  @include link($color-white, $color-primary);
}

@mixin unLink {
  @include link;

  cursor: initial;

  &:hover {
    background: unset;
    color: unset;
  }

  &:active {
    text-decoration: unset;
  }
}

@mixin iconText {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 5px;

  align-self: center;
}

@mixin text {
  color: $color-black;
  line-height: $text-line-height;
  white-space: pre-wrap;
}

@mixin infoSection {
  display: flex;
  flex-flow: column nowrap;

  margin: -$link-padding 0;
}

@mixin baseGradient($color: $color-primary) {
  background: linear-gradient(to top, $color, lighten($color, 7%));
}
