@import './variables.scss';

@mixin link($color: $color-primary, $bkgColor: $color-white) {
  color: $color;
  cursor: pointer;
  padding: $link-padding;
  text-decoration: none;
  @media (hover: hover) and (pointer: fine) {
    &:active {
      opacity: 0.9;
    }
    &:hover {
      @include baseGradient($color);
      color: $bkgColor;
    }
  }
}

@mixin linkInv($color: $color-white, $bkgColor: $color-primary) {
  @include link($color, $bkgColor);
}

@mixin unLink {
  pointer-events: none;
}

@mixin iconText {
  align-self: center;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: repeat(2, auto);
}

@mixin text {
  color: $color-black;
  line-height: $text-line-height;
  white-space: pre-wrap;
  @include darkMode {
    color: $dark-scheme-color;
  }
}

@mixin infoSection {
  display: flex;
  flex-flow: column nowrap;
  margin: -$link-padding 0;
}

@mixin baseGradient($color: $color-primary) {
  background: linear-gradient(to top, $color, lighten($color, 7%));
}

@mixin darkMode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}
