// $color-primary: #25293b;
$color-primary: #2e3c44;
$color-white: #fff;
$color-black: #1a1a1a;

$font-4x: 4em;
$font-3x: 2.5em;
$font-2x: 1.5em;
$font-1x: 1.1em;
$font-0x: 0.75em;
$font-line-height: 1.35em;

$layout-max-width: 999px;
$layout-min-width: 320px;

$link-padding: 4px;

$text-line-height: 1.25em;
// $minimum: ~'(max-width: 450px)';

// // $phoneFactor: 1;
// $phone: ~'(max-width: 599px)';
// // $phoneTitleFontSize: $baseTitleFontSize * $phoneFactor;
// // $phoneSubTitleFontSize: $baseSubTitleFontSize * $phoneFactor;
// // $phoneTextFontSize: $baseTextFontSize * $phoneFactor;

// // $tabletFactor: 1.;
// $tablet: ~'(max-width: 950px)';
// // $tabletTitleFontSize: $baseTitleFontSize * $tabletFactor;
// // $tabletSubTitleFontSize: $baseSubTitleFontSize * $tabletFactor;
// // $tabletTextFontSize: $baseTextFontSize * $tabletFactor;

// // $laptopFactor: 2.;
// $laptop: ~'(max-width: 1800px)';
// // $laptopTitleFontSize: $baseTitleFontSize $laptopFactor;
// // $laptopSubTitleFontSize: $baseSubTitleFontSize * $laptopFactor;
// // $laptopTextFontSize: $baseTextFontSize * $laptopFactor;
// // $laptopDetailTextFontSize: 1.05rem;

// $desktop: ~'(max-width: 2800px)';
