@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.icons-by {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, auto);
  grid-row-gap: 2px;
  justify-content: center;

  font-size: $font-0x;

  .link {
    @include link;
  }
}
