.TechnologyBar {
  margin: 10px 0;

  .TechnologyBar__grid {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 95%;

    // align-items: center;
    // display: grid;
    // grid-row-gap: 10px;
    // grid-template-columns: repeat(16, 100px);
    // grid-template-rows: 1fr;
    // // justify-items: center;
    // justify-content: center;
    // margin: 15px 0;

    // @media @laptop {
    //   grid-template-columns: repeat(8, 100px);
    //   grid-template-rows: 1fr 1fr;
    // }

    // @media @tablet {
    //   grid-template-columns: repeat(4, 100px);
    //   grid-template-rows: 1fr 1fr 1fr 1fr;
    // }

    // @media @phone {
    //   grid-template-columns: repeat(3, 100px);
    //   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    //   :nth-child(16) {
    //     grid-column: 2;
    //     grid-row: 6;
    //   }
    // }

    // @media @minimum {
    //   grid-template-columns: repeat(2, 100px);
    //   grid-template-rows: repeat(8, 1fr);
    //   :nth-child(16) {
    //     grid-column: initial;
    //     grid-row: initial;
    //   }
    // }
  }
}
