@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.image {
    @include darkMode {
        filter: brightness(100% - $dark-scheme-darken);
    }
    &.circle {
        border-radius: 50%;
    }
    &.clickable {
        cursor: pointer;
    }
}
